* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Orbitron;
}

body {
  background-color: rgba(0, 0, 0, 0.829);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

#header {
  padding-block: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  font-weight: 600;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav a {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 400;
  color: #fff;
}

#main {
  padding-block: 35px;
}

.main {
  display: flex;
  flex-direction: column;

  gap: 36px;
}

.main-text h1 {
  max-width: 600px;
  width: 100%;
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
.main-text p {
  max-width: 600px;
  width: 100%;
  font-size: clamp(1rem, 0.841rem + 0.8vw, 1.438rem);
  font-weight: 400;
  color: #fff;
}

.main-num {
  display: flex;
  align-items: center;
  gap: 15px;

  /* margin-top: 3%; */
}

.main-btn button {
  width: 189px;
  height: 60px;
}

#hero {
  padding-block: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h1 {
  font-size: clamp(1rem, 0.568rem + 2.16vw, 2.188rem);
  font-weight: 600;
  color: #fff;
}
.hero p {
  max-width: 500px;
  width: 100%;
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
  font-weight: 400;
  color: #fff;
}
.hero button {
  width: 137px;
  height: 40px;
  margin-top: 6%;
}

#work {
  padding-block: 30px;
}
.work-title {
  text-align: center;
}
